.restaurant-info-parent {
  background: #f8f8ff;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: #2e242c;
}

.restaurant-info-image-main {
  width: 50%;
}

.restaurant-info-hours {
  font-weight: 300;
  font-size: 22px;
  margin-top: 40px;
}

.restaurant-details {
  width: 50%;
  text-align: center;
}

.restaurant-info-workingday {
  font-weight: 300;
  font-size: 18px;
}

.restaurant-info-main {
  display: flex;
}

.restaurant-info-restaurant {
  border-radius: 50%;
  width: 67%;
  display: block;
  margin: 70px auto auto 150px;
}

.logo-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
}


.restaurant-info-button {
  width: 100px;
  height: 30px;
  background-color: #f8f8ff;
  border-radius: 30px;
  margin: 40px auto auto auto;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  color: #8c8f96;
  box-shadow: -5px -5px 10px 0 rgb(255, 255, 255),
    3px 3px 6px 0 rgba(117, 125, 183, 0.349)
}

.restaurant-info-button:hover {
  box-shadow: 3px 3px 6px 0 rgba(117, 125, 183, 0.7)
}

.restaurant-info-time {
  color: #7CD08F;
}

.currently-open-closed {
  width: 180px;
  height: 30px;
  background-color: #f8f8ff;
  border-radius: 30px;
  margin: 40px auto auto auto;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  box-shadow: -5px -5px 10px 0 rgb(255, 255, 255),
    5px 5px 10px 0 rgba(117, 125, 183, 0.349)
}

.open-text {
  color: #7CD08F;
}

.closed-text {
  color: #EC644B;
}

.opening-time {
  font-weight: bold;
  font-size: 20px;
  color: #2e242c;
}